* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.normal-container {}

.flex-container {
    display: flex;
}

.flex-item {
    border: 1px solid red;

}

.flex-item-col {
    flex: 1;
    height: 400px;
}


.flex-item-row {
    float: left;
}

.flex-item-row:first-child {
    height: 400px;
    width: 50%;
}

.flex-item-row:nth-child(2),
.flex-item-row:nth-child(3) {
    width: 50%;
    height: 200px;
}